src/main/resources/META-INF/userinfos.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.baidu.com/schema/userinfos"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.baidu.com/schema/userinfos"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:complexType name="userinfo">
        <xsd:attribute name="id" type="xsd:int" />
        <xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="age" type="xsd:int" />
    </xsd:complexType>



    <xsd:element name="userinfo" type="userinfo" />

</xsd:schema>
